* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;

    background-color: #D0E2F2;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    box-sizing: border-box;
    padding: 0px 16px;
    width: 248px;
    height: 100vh;

    background-color: #162059;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 32px 0px;
}

.logo:hover {
    filter: brightness(100)
}

hr {
    width: 216px;
    border: 0;

    border-top: 1px solid #238E94;
}

button {
    position: absolute;
    bottom: 42px;
    width: 216px;
    height: 64px;

    font-family: "mulish", sans-serif;
    font-size: 22px;
    font-size: 700;

    color: white;
    background-color: #1FA15E;

    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    transform: scale(0.95);
    filter: drop-shadow(0px 0px 20px rgba(34, 184, 106, 0.85));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 248px;
}

h1 {
    margin-top: 68px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 900;

    color: #238E94;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 27px;

    margin: 94px 118px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 231px;
    height: 352px;

    background-color: white;

    border-radius: 20px;
    transition: all 0.3s;
    filter: drop-shadow(0px 4px 24px rgba(255, 255, 255, 0.35));
}

.card:hover {
    transform: scale(1.1);
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 28px;
    margin-bottom: 39px;
    width: 112px;
    height: 112px;

    border-radius: 50%;
    background-color: #D0E2F2;
}

.perfil img {
    width: 100px;
    height: 100px;

    border-radius: 50%;
}

h2 {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}

h4 {
    margin-top: 4px;
    margin-bottom: 59px;

    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;

}

.numeros h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}